<center>
  <div class="well well-sm">
    <input id="zoom" data-slider-id='zoomSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="6"/>
    Playgrounds <span id="count" class="badge"></span>
  </div>
</center>
<table class="table">
  <% cache("list-#{@venues.size}-#{@venues.maximum(:updated_at)}") do  %>
  <%= render @venues %>
  <% end %>
</table>

<script type="text/javascript">
  var zurich_location = {lat: 47.5021566, lng: 8.7242215}
  var zoomSlider = $('#zoom').slider({
    formatter: function(value) {
      return 'Zoom Level: ' + value;
    }
  })
  .on('change', function () {

  })
  .data('slider')
</script>