<div class="page-header">
  <h1>
    Map View
    <small>
      <%= link_to 'List View', list_path, {'data-no-turbolink' => true} %>
    </small>
  </h1>
</div>
<center>
<div class="well well-sm">
<input id="zoom" data-slider-id='zoomSlider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="6"/>
Playgrounds <span id="count" class="badge"></span>
</div>
</center>
<div id="map_container" class="col-xs-12 pull-right" style="height: 300px">
  <div id="map_canvas"></div>
</div>
<div id="infoWindowTemplate" style="display:none;">
  <h3></h3>
  <img id="infoImage" src="<%= asset_path 'no_image.gif' %>" alt="Image"/>
  <div id="infoContent">
    <p id="infoStats">
      <span id="infoBedrooms"></span>
      <span id="infoBathrooms"></span>
      <span id="infoCarSpaces"></span>
    </p>
    <p id="infoAddress"></p>
  </div>
</div>
<script type="text/javascript">
  var map
  var markers = []

  function count_markers() {
    var _bounds = map.getBounds();
    var count = 0
    for(var i = 0; i < markers.length; i++)
    {
      // looping through my Markers Collection        
      if(_bounds.contains(markers[i].position)) {
        count++
      }
    }
    $('#count').text(count)
  }
  var zoomSlider = $('#zoom').slider({
    formatter: function(value) {
      return 'Zoom Level: ' + value;
    }
  })
  .on('slide', function () { 
    map.setZoom(zoomSlider.getValue()) 
    count_markers()
  })
  .data('slider')

  function initMap() {
    function buildInfoWindow(marker){
      var $obj = $("#infoWindowTemplate").clone();
      $obj.find("h3").html(marker.name);
      $obj.removeAttr("style");
      $obj.find("#infoImage").prop("src", marker.imageUrl);
      // $obj.find("#infoAddress").html(marker.address);
      return $obj[0];
    }
    var zurich_location = {lat: 47.5021566, lng: 8.7242215}
    var zurich = new google.maps.LatLng(zurich_location.lat, zurich_location.lng)
    var mapProp = {
      center: zurich,
      zoom: 14,
      mapTypeId:google.maps.MapTypeId.ROADMAP
    }
    var map_canvas = $("#map_canvas");
    map_canvas.height($("#map_container").height());
    map = new google.maps.Map(map_canvas[0], mapProp)
    google.maps.event.addListener(map, 'bounds_changed', function() {
      zoomSlider.setValue(map.getZoom())
      count_markers()
    })
    function mark_it_on_the_map(venue) {
      var position = new google.maps.LatLng(venue.latitude, venue.longitude)
      var marker = new google.maps.Marker({
        position: position,
        animation:google.maps.Animation.DROP,
        map: map,
        name: venue.name,
      })
      markers.push(marker)
      var infowindow = new google.maps.InfoWindow();
      infowindow.setContent(buildInfoWindow(marker));
      google.maps.event.addListener(marker, 'mouseover', function() {
        infowindow.open(map, this)
      })
      google.maps.event.addListener(marker, 'mouseout', function() {
        infowindow.close(map, this)
      })
    }
    <%
      cache("map-#{@venues.size}-#{@venues.maximum(:updated_at)}") do  
        @venues.each do |venue|
    %>
    mark_it_on_the_map(<%= venue.to_json.html_safe %>)
    <%
        end
      end
    %>
  }
</script>
<script async defer src="//maps.googleapis.com/maps/api/js?key=AIzaSyAISFPFF6X8bYHKVa0yaKQegdLGJVdbI-8&callback=initMap"></script>
